@model LoginViewModel

@{ ViewBag.Title = "Login";}

<h1 class="text-center text-primary">Login</h1>

<div class="form-container container shadow-lg box-shadow text-center border-info col-sm-12 col-md-10 col-lg-6">
    <div class="row m-4">
        <div class="col-sm-12">
            <form asp-action="login" method="post" class="mt-4 mb-4">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <input asp-for="Email" class="col-sm-12 form-control" placeholder="Email Address" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <input asp-for="Password" class="col-sm-12 form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            @Html.DisplayNameFor(m => m.RememberMe)
                            <input asp-for="RememberMe" class="form-control" />
                        </label>

                    </div>
                </div>


                


                <button type="submit" class="btn btn-primary btn-lg">Login <span><i class="fas fa-chevron-circle-right"></i></span></button>


            </form>
            
        </div>
    </div>
</div>