@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="container-fluid p-0">
        <div class="site-content">
            <!--   This class centers everything!    -->
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <h1 class="site-title">
                        ExamPortal Now Avaliable!
                    </h1>
                    <p class="site-desc">Register now to recieve free access to all features.</p>

                    <div class="d-flex flex-row">
                        <input type="button" value="Register" class="btn site-btn1 px-4 py-3 mr-4 btn-dark">
                        <input type="button" value="Know More" class="btn site-btn2 px-4 py-3 mr-4 btn-light">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    New Section        -->
    <div class="section-1">
        <div class="container text-center">
            <h1 class="heading-1">Get Started With <span style="color:lightcoral">Exam</span><span style="color: cadetblue">Portal</span></h1>
            <hr class="col-md-6">
            <p class="para-1">ExamPortal helps you assess your candidates in a secure...</p>
            <div class="row justify-content-center text-center">
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="https://cdn.gobankingrates.com/wp-content/uploads/2018/05/heres-how-much-teachers-make-in-these-5-states-848x477.jpg" alt="Teacher" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">Set Tests/Examinations</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="https://cdn.japantimes.2xx.jp/wp-content/uploads/2018/03/n-teachers-a-20180314-870x567.jpg" alt="Classroom" class="card-img-top" style="height: 180px;">
                        <div class="card-body">
                            <h4 class="card-title">Take Tests/Exams</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img src="http://news.stanford.edu/news/2013/april/images/teacher_news.jpg" alt="Image1" class="card-img-top" style="height:180px;">
                        <div class="card-body">
                            <h4 class="card-title">Learn To Code</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
                        </div>
                    </div>
                </div>*@
            </div>

        </div>
    </div>
    <!--    Section 2          -->
    <div class="section-2">
        <div class="container-fluid">
            <div class="d-flex justify-content-start">
                <div class="d-flex flex-column m-4">
                    <h1 class="heading-1">Like and Share!</h1>
                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>

                    <input type="button" value="show" class="btn btn-danger">
                </div>
            </div>
        </div>
    </div>


    <!--   Section 3     -->

    <div class="section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="d-flex flex-row">
                        <i class="fas fa-question fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">24/7 Support</h3>
                            <p class="m-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6">
                    <div class="d-flex flex-row">
                        <i class="fas fa-seedling fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Grow</h3>
                            <p class="m-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-6">
                    <div class="d-flex flex-row">
                        <i class="fas fa-rocket fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Digital</h3>
                            <p class="m-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="d-flex flex-row">
                        <i class="fas fa-user fa-3x m-2"></i>
                        <div class="d-flex flex-column">
                            <h3 class="m-2">Marketing</h3>
                            <p class="m-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                            </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!---------------------------------SECTION 4-------------------------------- -->
    <div class="section-4 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="https://www.thoughtco.com/thmb/EvpG7n-uTEWUyXryei8nCW3XB2s=/3413x3413/smart/filters:no_upscale()/college-students-in-computer-lab-55962313-ddc7ea7cf89549c18b9e8a96749ca58f.jpg" alt="image7" style="width: 99%">
                </div>
                <div class="col-md-5">
                    <h1>Don't know where to start?</h1>
                    <a href="#">Join US</a>

                    <p class="para-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                        
                    </p>
                </div>
            </div>
        </div>
    </div>




</div>



<footer>
    <div class="section-5 text-center">
        @*<h4 style="margin-top: 5%">Contact Us</h4>
        <h4 class="my-4">If you need any help</h4>*@

        <div class="form-inline justify-content-center mt-5">
            <input type="text" name="Email" id="email" placeholder="Email" size="40" class="form-control px-4 py-2">
            <input type="button" value="Contact Us" class="btn btn-danger px-4 py-2">
        </div>

        <div class="social" style="margin: 5%">
            <div class="d-flex flex-row justify-content-center">
                <a href="#" target="_blank"><i class="fab fa-facebook-f m-3"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram m-3"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter m-3"></i></a>
                <i class="fab fa-youtube m-3"></i>
                <a href="#" target="_blank"><i class="fab fa-linkedin m-3"></i></a>
            </div>
        </div>

        <hr>
        @*<h5 style="color: lightseagreen">Leo Garza &copy;</h5>*@
    </div>
</footer>





<!-- Footer-->
@section Scripts{

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/site.js"></script>

}