@model EditQuestionViewModel

@{ ViewBag.Title = "Edit Question";}

<h1 class="text-center">Edit Question</h1>

<div class="form-container container text-center">
    <form id="qstntestform" asp-action="editquestion" method="post" class="m-4">
        <div id="initialform" class="m-4 p-4">

            <input asp-for="Id" hidden />
            <input asp-for="TestId" hidden />

            <div asp-validation-summary="All"></div>

            <div class="form-group">
                <label asp-for="Question" class="col-form-label col-sm-2"></label>
                <textarea asp-for="Question" class="form-control col-sm-12"></textarea>
                <span asp-validation-for="Question"></span>
            </div>

            <div class="form-group">
                <label asp-for="Answer" class="col-form-label col-sm-2"></label>
                <input asp-for="Answer" class="form-control col-sm-12"/>
                <span asp-validation-for="Answer"></span>
            </div>

            <div class="form-group">
                <label asp-for="Option1" class="col-form-label col-sm-2"></label>
                <input asp-for="Option1" class="form-control col-sm-12"/>
                <span asp-validation-for="Option1"></span>
            </div>

            <div class="form-group">
                <label asp-for="Option2" class="col-form-label col-sm-2"></label>
                <input asp-for="Option2" class="form-control col-sm-12"/>
                <span asp-validation-for="Option2"></span>
            </div>

            <div class="form-group">
                <label asp-for="Option3" class="col-form-label col-sm-2"></label>
                <input asp-for="Option3" class="form-control col-sm-12"/>
                <span asp-validation-for="Option3"></span>
            </div>

            <div class="form-group">
                <label asp-for="AssignedScore" class="col-form-label col-sm-2"></label>
                <input asp-for="AssignedScore" class="form-control col-sm-12"/>
                <span asp-validation-for="AssignedScore"></span>
            </div>

            <a class="btn btn-primary" asp-action="dashboard" asp-controller="examiner">Back</a>
            <button type="submit" class="btn btn-info">Submit</button>


        </div>

    </form>
</div>

@section Scripts{ 
    <script src="~/js/site.js"></script>
}